body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

/*header {
    background-color: white;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid white;
}*/
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
    gap: 10px;
    width: 99%; 
    height: 75%; 
    margin: 0 auto;
}

/*Map (obvi)*/
.map-container {
    border: 1px solid white; 
    grid-column: 1; /*KIM: moving the grid around*/
    grid-row: 1; /*KIM: moving the grid around*/
}

/*Line Chart*/
.chart {
    /*width: 400px;
    height: 300px;*/
    /*border: 1px solid black;*/
    grid-column: 2 /span 2; /*KIM: moving the grid around*/
    grid-row: 2 / span 2; /*KIM: moving the grid around*/
}

/*SARIMA chart*/
.prediction {
    border: 1px solid white; /*houtan: black;*/
    grid-column: 2 / span 2; /*KIM: moving the grid around*/
    grid-row: 1; /*KIM: moving the grid around*/
}

/*Instructions "chart"*/
.chart3 {
  grid-column: 1;
  grid-row: 2;
}

/*Here down, Styles.css from Mira

.menubar
{
  color: black;
  width: 100%;
  background-color: #546A7B;
}

.menubarleft
{
  text-align: left;
}

.menubarright
{
  text-align: right;
}*/